@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Light;
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Hairline;
  src: url("../fonts/Lato-Hairline.ttf") format("truetype");
}
@font-face {
  font-family: Lato-HairlineItalic;
  src: url("../fonts/Lato-HairlineItalic.ttf") format("truetype");
}
@font-face {
  font-family: Lato-LightItalic;
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype");
}
.bgcolor-green{
	background:#52AB92;
	color:#fff;
	padding:20px;
}
.hiver-content h1{
	margin:18px 0 6px 0;
	font-family: Lato-Regular;
}
.hiver-content h5{
	margin:0 0 6px 0;
	font-size:16px;
	font-family: Lato-Regular;
}
.hiver-content span{
	font-size: 30px;
  font-family: Lato-Bold;
  font-weight: 800;
}
.logo-image img{
  width:15%;
}
.number-image img{
  width:40%;
}
.main-item-list{
  padding:45px;
}
.main-item-list h4{
  text-transform:uppercase;
  margin:22px 0 10px 0;
  color:#666666;
  font-family: Lato-Regular;
}
.main-item-list p{
  font-family:Lato-Light;
  color:#737373;
}
.brand-columns{
  padding:10px;
  background-color:#F9F9F9;
  border-top:1px solid #eae7e7;
}
.brand-columns ul{
  padding:0;
  list-style:none;
}
.brand-columns ul > li{
  display: inline-block;
  margin: 5px 23px
}
.brand-columns ul > li > a > img{
  filter: contrast(100%);
}
.slider-part{
  padding:55px;
  background-color:#F9F9F9;
  border-bottom:1px solid #eae7e7;
}
.content{
  position: relative;
}
.content p{
  font-family: Lato-LightItalic;
  color:#7b6b6b;
  font-size: 16px;
}
.content h5{
  font-family: Lato-Bold;
  color:#262626;
}
.content::before {
  content: "\f10d";
  position: absolute;
  font-family: FontAwesome;
  top: -3px;
  color: #aca0a0;
  left: 3px;
}
.content::after {
  content: "\f10e";
  position: absolute;
  font-family: FontAwesome;
  bottom: 6px;
  color: #aca0a0;
  right: 10px;
}
.signin-content{
  margin-top:-14%;
}
.signin-bgcolor{
  background-color: #fff;
  padding:15px;
  border-radius:5px;
  box-shadow: 0 2px 6px 0 #ccc;
}
.signin-bgcolor i{
  vertical-align: middle;
  color:#c4bbbb;
}
.signin-bgcolor label{
  color:#c4bbbb;
  font-family: Lato-Regular;
}
.btn-orange{
  background-color:#EF7126;
  color:#fff;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}
.btn-orange:hover{
  background-color:#d55810; 
  color:#fff;
  border-color:#d55810;
}
.btn-orange:active{
  background-color:#d55810; 
  color:#fff;
  border-color:#d55810;
}
.btn-orange:focus{
  background-color:#d55810; 
  color:#fff;
  border-color:#d55810;
  outline: none;
}
.signup-text p{
  font-size: 13px;
  margin-top:8px;
  color:#524747;
  font-family: Lato-Light;
}
.footer{
  padding:12px;
}
.margin-footer{
  margin-top:6px;
}
.footer p{
  font-family: Lato-Light;
  color:#524747;
}
.signin-bgcolor input[type="text"]{
  height:35px;
  color:#524747;
  font-family: Lato-Regular;
}
.signin-bgcolor input[type="email"]{
  height:35px;
  color:#524747;
  font-family: Lato-Regular;
}
.signin-bgcolor input[type="text"]:focus{
  border-color:#524747;
  background-color:#F9F9F9;
  -webkit-box-shadow:none;
  -moz--box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}
.signin-bgcolor input[type="email"]:focus{
  border-color:#524747;
  background-color:#F9F9F9;
  -webkit-box-shadow:none;
  -moz--box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}
.content-padding{
  padding:20px;
}
.form-custom .error{
  color:#ff0000;
  font-size:14px;
  font-family: Lato-Light;
}
.alert-message{
  text-align:center;
  font-family: Lato-Light;
  font-size:15px;
}